.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: block;

    >.logo__font--black {
        color: var(--font-color-logo);
    }
    
    >.logo__font--white {
        color: var(--font-color-dark-theme);
    }
}
